*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #fff;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}